{% extends "layout.html" %}
{% block content %}


<div class="container">
    <div class="page-banner home-banner">
      <div class="row align-items-center flex-wrap-reverse h-100">
        <div class="col-md-6 py-5 wow zoomIn">
            <div class="log-modal" id="logModal">
                <h2 class="text-primary text-center">Student</h2>
                <hr>
                <form action="" method="POST">
                  {{ form.hidden_tag() }}
                    <div class="form-group">
                      {{ form.username.label(class='form-control-label')}}
                      {% if form.username.errors %}
                        {{ form.username(class='form-control is-invalid', id="user-email")}}
                        <div class="invalid-feedback">
                          {% for error in form.username.errors %}
                            <span>{{error}}</span>
                          {% endfor %}
                        </div>
                        {% else %}
                        {{ form.username(class='form-control', id="user-email")}}
                        {% endif %}
                    </div>
                    <div class="form-group">
                      {{ form.password.label(class='form-control-label')}}
                      {{ form.password(class='form-control', id="user-password")}}
                    </div>
                  <a href="{{url_for('students.resetRequest')}}" style="font-size: 12px;">Forgot Password?</a><br><br>
                  <div class="form-group">
                    {{ form.submit(class='btn btn-primary btn-lg btn-block mt-2')}}
                  </div>
                  Not Student? Login as <a href="{{url_for('logins.adminLogin')}}" >Administrator</a>
                </form>
            </div>
        </div>
        <div class="col-md-6 py-5 wow fadeInRight">
          <div class="img-fluid text-center">
            <img src="{{url_for('static', filename='img/login.jpg')}}" height="100%" width="100%" alt="">
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}