<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <!-- Header -->
    <div class="header">
        <div id="logo"><img src="img/logo.jpeg" alt="logo" height="60%" width= "60"></div>
        <h2>MONACO</h2>
    </div>

    
    <!-- Navigation bar -->
    <div class="nav">
        <a href="#">Profile</a>
        <a href="#">Contact Us</a>
        <a href="#">About Us</a>
        <a href="#">Problems</a>
        <a href="#">Home</a>
    </div>

    <!-- Particals -->
    <div id="particles-js"></div>
    <script type = "text/javascript" src = "js/particles.js"></script>
    <script type = "text/javascript" src = "js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bubbly-bg@0.2.3/dist/bubbly-bg.js"></script>
    <script>bubbly({
        colorStart: '#4e2500',
        colorStop: '#e9a265',
        bubbleFunc:() => `hsla(0, 100%, 50%, ${Math.random() * 0.25})`
      });
      </script>

    <!-- Change Password -->
    <div class="container">
        <h1>Change Password</h1>
        <hr>    
        <form action="#" method="post" class="needs-validation">
                <label for="password">Current password</label><br>
                <input type="password"  name="password" id="password" placeholder="Enter your current password" required><br>
                <label for="password">New password</label><br>
                <input type="password" name="new_password" id="new_password" placeholder="Enter your new password" required><br>
                <label for="password">Confirm password</label><br>
                <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password" required><br>
                <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>