<!DOCTYPE html>
<html lang="en">
<head>
    <!-- css linking -->
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-pie.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <!-- Header -->
    <div class="header">
        <div id="logo"><img src="img/logo.jpeg" alt="logo" height="60%" width= "60"></div>
        <h2>MONACO</h2>
    </div>
    <!-- Navigation bar -->
    <div class="nav">
        <a href="#">Profile</a>
        <a href="#">Contact Us</a>
        <a href="#">About Us</a>
        <a href="#">Problems</a>
        <a href="#">Home</a>
    </div>
    <div class="details">
        <div id="chart"></div>
        <strong>Basic Info</strong>
        <div class="text">
            <div class="left">Roll. No.</div> 
            <div class="right">1900680100036
                <a href="#" style="text-decoration:none; float:right; margin-right: 1%;">Edit</a></div><hr>
        </div>
        <div class="text">
            <div class="left">Name</div> 
            <div class="right">Akash Panwar
                <a href="#" style="text-decoration:none; float:right; margin-right: 1%;">Edit</a></div><hr>
        </div>
        <div class="text">
            <div class="left">E-mail</div>
            <div class="right">akash.panwar.cs.2019@miet.ac.in
                <a href="#" style="text-decoration:none; float:right; margin-right: 1%;">Edit</a></div><hr>
        </div>
        <div class="text">
            <div class="left">Branch</div>
            <div class="right">CSE
                <a href="#" style="text-decoration:none; float:right; margin-right: 1%;">Edit</a></div><hr>
        </div>
        <div class="text">
            <div class="left">Year</div>
            <div class="right">3<sup>rd</sup>
                <a href="#" style="text-decoration:none; float:right; margin-right: 1%;">Edit</a></div><hr>
        </div>
        <div class="text">
            <div class="left">College</div>
            <div class="right">MIET
                <a href="#" style="text-decoration:none; float:right; margin-right: 1%;">Edit</a>
            </div>
            <hr>
        </div>
        <button type="button" class="btn">Edit</button>
    </div>
    <!-- javascript call-->
    <!-- Pie Chart -->
    <script src="js/piechart.js"></script>
</body>
</html>