<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monaco</title>
</head>
<body>
    <div class="header">
        <div id="logo"><img src="img/logo.jpeg" alt="logo" height="60%" width= "60"></div>
        <h2>MONACO</h2>
        
    </div>
    <div class="nav">
        <a href="#">Profile</a>
        <a href="#">Contact Us</a>
        <a href="#">About Us</a>
        <a href="#">Problems</a>
        <a href="#">Home</a>
    </div>
</body>
</html>